/** @format */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0px;
  background-color:#FFFFFF;
}

a {
  color: #00b7ff;
}
p {
  color: #696969;
}
/* .container
{
  background-color:#FFFFFF;


} */
